@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

:root{
  /* Primary Colors */
  --vibrantRed: #ff4d6d;
  --ceruleanBlue: #0088e8;

  /* Secondary Colors */
  --brightYellow: #ffc108;
  --electricBlue: #00a8e8;

  /* Accent Colors */
  --deepRose: #8c3a57;
  --tealGreen: #4fb99f;

  /* Neutral Colors */
  --lightGrey: #efefef;
  --darkCharcoal: #707070;
}

*{
  font-family: Playfair Display;
}

.artwork{
  height: fit-content;
  width: 750px;
  background-color: var(--lightGrey);
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: space-between;
  padding: 34px;
  row-gap: 80px;
  position: relative;
}

.row{
  display: flex;
  justify-content: space-between;
}

.item{
  display: flex;
  height: 150px;
  min-width: 150px;
  z-index: 1;
}
.item:nth-child(even){
  background-color: var(--vibrantRed);
  border: 7px solid var(--brightYellow);
  transition: background-color 0.5s, border-color 0.5s;
}
.item:nth-child(even):hover{
  background-color: var(--brightYellow);
  border-color: var(--vibrantRed);
  transition: background-color 0.5s, border-color 0.5s;
}

.item:nth-child(odd){
  background-color: var(--ceruleanBlue);
  border: 7px solid var(--electricBlue);
  transition: background-color 0.5s, border-color 0.5s;
}
.item:nth-child(odd):hover{
  background-color: var(--electricBlue);
  border-color: var(--ceruleanBlue);
  transition: background-color 0.5s, border-color 0.5s;
}

.ground{
  position: absolute;
  height: 175px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--tealGreen);
  transform: rotate(45%);
}
.sky{
  position: absolute;
  height: 350px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--deepRose);
}

.painting-variables{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 16px;
  width: 500px;
  border: 2px dashed black;
  padding: 12px;
}

.color-row{
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  margin: 10px 0px;
}
.color-row label{
  padding-top: 12px;
}
.color-option{
  width: 150px;
  height: 50px;
}

.submit-colors{
  background-color: var(--deepRose);
  color: var(--brightYellow);
  width: fit-content;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  margin-top: 12px;
  transition: background-color 0.2s, color 0.2s
}
.submit-colors:hover{
  background-color: var(--vibrantRed);
  color: yellow;
  transition: background-color 0.2s, color 0.2s
}

.submission-form fieldset{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 16px;
  width: 500px;
  border: 2px dashed black;
}

.submission-form .formfield{
  display: flex;
  column-gap: 16px;
  margin-top: 14px;
  margin-bottom: -12px;
}

.formfield input{
  border: 2px solid var(--darkCharcoal);
}
.formfield input:focus{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.submission-form .submitButton{
  background-color: var(--deepRose);
  color: var(--brightYellow);
  width: fit-content;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  margin-top: 24px;
  transition: background-color 0.2s, color 0.2s
}
.submission-form .submitButton:hover{
  background-color: var(--vibrantRed);
  color: yellow;
  transition: background-color 0.2s, color 0.2s
}

.submission-message{
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  font-family: Playfair Display;
}

@media(max-width: 500px){
  .artwork{
    width: 300px;
    row-gap: 20px;
    padding: 14px;
    row-gap: 32px;
    grid-template-columns: 60px 60px 60px;
  }
  .item{
    min-width: 60px;
    height: 60px;
  }
  .item:nth-child(even){
    border: 3px solid var(--brightYellow);
  }
  .item:nth-child(odd){
    border: 3px solid var(--electricBlue);
  }
  .ground{
    height: 70px;
  }
  .sky{
    height: 140px;
  }
  .submission-form fieldset{
    width: 250px;
    row-gap: 8px;
    margin-top: 16px;
  }
  .submission-form .formfield{
    margin-top: 16px;
    column-gap: 8px;
    margin-bottom: -10px;
  }
  .submission-form .submitButton{
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 12px;
  }
  .painting-variables{
    width: 250px;
    row-gap: 8px;
    margin-top: 16px;
  }
  .submit-colors{
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 10px;
  }
}