p{
    font-family: Roboto, Arial;
    margin: 0px;
}

body{
    margin: 0;
    padding-bottom: 3000px;
    padding-top: 50px;
    padding-left: 70px;
    background-color: rgb(247,247,247);
    font-family: Roboto, Arial;
}