.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(222, 222, 222);
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.left-section{
    align-items: center;
    display: flex;
    margin-left: 24px;
}

.hamburger-menu{
    margin-right: 24px;
    height: 25px;
    width: 30px;
    cursor: pointer;
}

.youtube-logo{
    width: 85px;
    height: 25px;
}
.youtube-button{
    width: 95px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    padding: 10px;
    height: 40px;
    border-color: rgb(151, 151, 151);
    border-width: 0.5px;
    flex: 1;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 17px;
}

.search-button{
    width: 70px;
    height: 40px;
    padding: 5px;
    background-color: rgb(247,247,247);
    border-width: 0.5px;
    border-color: rgb(118, 117, 117);
    cursor: pointer;
    margin-left: -1.15px;
    border-radius: 2px;
}
.search-button:hover{
    background-color: rgb(240, 240, 240);
}
.search-png{
    height: 25px;
    width: 30px;
    margin-top: 2px;
}

.voice-search{
    height: 25px;
    margin-top: 1px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    background-color: rgb(247,247,247);
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.right-section{
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    flex-shrink: 0; /*keep width and dont shrink*/
    position: relative;
}

.create{
    height: 25px;
    cursor: pointer;
}

.apps{
    height: 25px;
    cursor: pointer;
}

.notifications{
    height: 25px;
    cursor: pointer;
}
.notif{
    background-color: rgb(213, 0, 0);
    color: white;
    font-size: 10px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 50px;
    position: absolute;
    right: 50px;
    top: 1px;
    border: solid;
    border-color: white;
    border-width: 2px;
}

.user-picture{
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 15px;
}