body{
    background-color: blueviolet;
}

input{
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(158, 7, 245);
}

h1{
    color:darkblue;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.one{
    color:darkorange;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.two{
    color:rgb(255, 25, 0);
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

button{
    display: block;
    margin: auto;
}