.youtube{
    background-color: rgb(200, 0, 0);
    color: white; /*change text color of button*/
    border: none;
    border-radius: 2px; /*changes how round the button is*/
    height: 30px; /*measured in pixels*/
    width: 100px;
    cursor: pointer; /*makes mouse a hand when over a button*/
    transition: opacity 0.15s; /*makes the opacity gradually change over a set amt of time*/
            /*-transition goes in base class*/
}

/*changing style when cursor is over the button*/
    /*pseudo-class*/
.youtube:hover{
    opacity: .80;
}
.youtube:active{ /*when button is pressed*/
    opacity: .5;
}

.join{
    background-color: white;
    color: rgb(6, 95, 212);
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(6, 95, 212);
    height: 30px;
    width: 60px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.join:hover{
    background-color: rgb(37, 124, 254);
    color: white;
    border: none;
}
.join:active{
    opacity: .7;
}

.twitter{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 18px;
    height: 30px;
    width: 75px;
    cursor: pointer;
    font-size: 15px; /*changes font size within the button*/
    font-weight: bold;
    transition: box-shadow .15s;
}

.twitter:hover{
    box-shadow: 0px 2px 5px rgb(112, 112, 112);
    /*
        takes in 4 values
        horizontal, vertical, blur, color
    */
}