.sidebar{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 72px;
    position: sticky;
    left: 0;
    top: 55px;
    margin: 0;
    align-items: center;
    vertical-align: middle;
}

.sidebar-button{
    height: 75px;
    width: 72px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    font-family: Roboto, Arial;
    font-size: 10px;
    padding: 0;
}
.sidebar-button:hover{
    background-color: rgb(240,240,240);
}

.home{
    height: 25px;
    width: 25px;
}

.explore-button{

}

.subscriptions-button{

}

.originals-button{

}

.music-button{

}

.library-button{

}