main{
  padding-left: 360px;
  width: 607px;
  border-right: rgb(33, 33, 33);
}

main header{
  position: fixed;
  z-index: 1;
  opacity: 0.9;
  left: 360px;
  border-right: 1px solid rgb(33, 33, 33);
  border-left: 1px solid rgb(33, 33, 33);
  width: 605px;
  background-color: black;
}

.main-header-horizontal{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h2{
  font-size: 22px;
  padding-left: 20px;
}

main header button{
  height: 42px;
  background-color: black;
  margin: 1px;
  border-bottom: 1px, solid, rgb(195, 195, 195);
  border-top: none; border-right: none; border-left: none;
  cursor: pointer;

  color: rgb(95, 95, 95);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
main header button:hover{
  background-color: rgb(32, 32, 32);
}